

.botao_inicio{
width: 200px;
height: 60px;
color: white;
background-color: #27AE60;
justify-content: center;
align-items: center;
border-radius: 8px;
}

.forca{
   width: 400px;
   height: 466px; 
}

.palavra_principal{
font-size: 50px;
font-weight: 700; 
}




.habilitado{
color: #E1ECF4;
}


.correto{
   color: green;
}

.errado{
   color: red;
}